#container {
    margin: auto;
    padding: 1%;
    background-color: silver;
    width: 90%;
    height: 2000px;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
}

.topnav a:hover {
    background-color: white;
    color: black;
}

.topnav a.active {
    background-color: navy;
    color: white;
}

body {
    background-color: black;
}



header {
    height: 10%;
    background-color: navy;
    background-size: contain;
    color: white;
    text-align: center;
}

h2{
    text-align: center;
}

main {
    height: 80%;
    border-style:ridge;
}

section {
    height: 200px;
    background-color: gold;
    margin-top: 5px;
}

footer {
    height: 8%;
    background-color: white;
}

#container-box {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    height: 300px;
    border-style: dotted;
    background-color: white;
}

.multi-column {
    width: 25%;
    height: 80%;
    margin: 5px;
    text-align:center;
}

.shown {
    margin-bottom: 2px;
    display: block;
}

.hide {
    margin-bottom: 2px;
    display: none;
}

.small{
    width: 100px;
    height: 100px;
}

.big{
    width: 250px;
    height: 250px;
}

