#container {
    margin: auto;
    padding: 1%;
    background-color: silver;
    width: 90%;
    height: 2000px;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
}

.topnav a:hover {
    background-color: white;
    color: black;
}

.topnav a.active {
    background-color: navy;
    color: white;
}

body {
    background-color: black;
}

header {
    height: 10%;
    background-color: navy;
    background-size: contain;
    color: white;
    text-align: center;
}

h2{
    text-align: center;
}

main {
    height: 90%;
    border-style:ridge;
}

.cart{
    background-color: gold;
    height:50%;
    border-style:groove;
    width: 50%;
    margin: 10px;
    position: relative;
    float: right;
    margin-top: -750px;
    border: 2px solid #333;
    padding: 10px;
}

#total {
    margin-top: 10px;
    font-weight: bold;
    width: 100px;
    height: 20px;
    background-color: white;
}

#cartItems {
    list-style-type: none;
    padding: 0;
}

#cartItems li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

